IO_LOC "clk24" 35;
IO_PORT "clk24" IO_TYPE=LVCMOS33;


IO_LOC "btn1" 14;
IO_PORT "btn1" IO_TYPE=LVCMOS33;
IO_LOC "btn2" 15;
IO_PORT "btn2" IO_TYPE=LVCMOS33;

IO_LOC "led1" 16;
IO_PORT "led1" IO_TYPE=LVCMOS33;
IO_LOC "led2" 17;
IO_PORT "led2" IO_TYPE=LVCMOS33;
IO_LOC "led3" 18;
IO_PORT "led3" IO_TYPE=LVCMOS33;


IO_LOC "rx" 9;
IO_PORT "rx" IO_TYPE=LVCMOS33;
IO_LOC "tx" 8;
IO_PORT "tx" IO_TYPE=LVCMOS33;

IO_LOC "pinout[0]" 27;
IO_PORT "pinout[0]" IO_TYPE=LVCMOS33;

IO_LOC "pinout[1]" 28;
IO_PORT "pinout[1]" IO_TYPE=LVCMOS33;

IO_LOC "pinout[2]" 29;
IO_PORT "pinout[2]" IO_TYPE=LVCMOS33;

IO_LOC "pinout[3]" 30;
IO_PORT "pinout[3]" IO_TYPE=LVCMOS33;

IO_LOC "pinout[4]" 31;
IO_PORT "pinout[4]" IO_TYPE=LVCMOS33;

IO_LOC "pinout[5]" 32;
IO_PORT "pinout[5]" IO_TYPE=LVCMOS33;

IO_LOC "pinout[6]" 33;
IO_PORT "pinout[6]" IO_TYPE=LVCMOS33;

IO_LOC "pinout[7]" 34;
IO_PORT "pinout[7]" IO_TYPE=LVCMOS33;

IO_LOC "pinout[8]" 38;
IO_PORT "pinout[8]" IO_TYPE=LVCMOS33;

IO_LOC "pinout[9]" 39;
IO_PORT "pinout[9]" IO_TYPE=LVCMOS33;

IO_LOC "pinout[10]" 40;
IO_PORT "pinout[10]" IO_TYPE=LVCMOS33;

IO_LOC "pinout[11]" 41;
IO_PORT "pinout[11]" IO_TYPE=LVCMOS33;

IO_LOC "pinout[12]" 42;
IO_PORT "pinout[12]" IO_TYPE=LVCMOS33;

IO_LOC "pinout[13]" 43;
IO_PORT "pinout[13]" IO_TYPE=LVCMOS33;

IO_LOC "pinout[14]" 44;
IO_PORT "pinout[14]" IO_TYPE=LVCMOS33;

IO_LOC "pinout[15]" 45;
IO_PORT "pinout[15]" IO_TYPE=LVCMOS33;
